<% layout("/layouts/boilerplate.ejs") %>

<body>
    <div class="filters ">
        <div class="filter mt-2">
            <div class=""><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
        <div class="filter mt-2">
        <div class=""><i class="fa-solid fa-bed"></i></div>
            <p>Comfy</p>
        </div>
        <div class="filter mt-2">
            <div class=""><i class="fa-solid fa-car"></i></div>
            <p>Parking</p>
        </div>
        <div class="filter mt-2">
            <div class=""><i class="fa-solid fa-bolt"></i></div>
            <p>Instant</p>
        </div>
        <div class="filter mt-2">
            <div class=""><i class="fa-solid fa-shield-dog"></i></div>
            <p>Pets</p>
        </div>
        <div class="filter mt-2">
            <div class=""><i class="fa-solid fa-heart"></i></div>
            <p>Couple</p>
        </div>
        <div class="filter mt-2">
            <div class=""><i class="fa-solid fa-mountain"></i></div>
            <p>Mountain</p>
        </div>
        <div class="filter mt-2">
            <div class=""><i class="fa-solid fa-umbrella-beach"></i></div>
            <p>beach</p>
        </div>
        <div class="filter mt-2">
            <div class=""><i class="fa-solid fa-person-swimming"></i></div>
            <p>Pool</p>
        </div>
        <div class="filter mt-2">
            <div class=""><i class="fa-solid fa-tractor"></i></div>
            <p>Farm</p>
        </div>
        <!-- <div class="filter mt-2">
            <div class=""><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </div> -->
        <!-- <div class="filter mt-2">
            <div class=""><i class="fa-solid fa-crown"></i></div>
            <p>Luxury</p>
        </div>
        <div class="filter mt-2">
            <div class=""><i class="fa-solid fa-children"></i></div>
            <p>Child safe</p>
        </div> -->
        <div class="filter mt-2">
            <div class=""><i class="fa-solid fa-snowflake"></i></div>
            <p>Snow</p>
        </div>
        <div class="filter mt-2">
            <div class=""><i class="fa-solid fa-dumbbell"></i></div>
            <p>Gym</p>
        </div>
        <div class="filter mt-2">
            <div class=""><i class="fa-solid fa-utensils"></i></div>
            <p>Dine-in</p>
        </div>
        <div class="filter mt-2">
            <div class=""><i class="fa-solid fa-city"></i></div>
            <p>City</p>
        </div>
        <div class="toggle-tax-switch">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switchCheckChecked" checked>
                <label class="form-check-label" for="switchCheckChecked">Include Taxes</label>
              </div>
        </div>
        
    </div>

    <!-- <h2>All Listings</h2> -->
    <!-- <form action="/listings/new" method="get"><button>New listing</button></form> -->
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
        <% for(list of allListings){ %>
            <div class="card listing-card" >
                <a href="/listings/<%= list.id %>"  class="listing-link">
                    <img src="<%= list.image.url %>" class="card-img-top " style="height: 20rem" alt="listing_image">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                    <h5 class="card-title"><b><%= list.title %></b> </h5>
                    <!-- <p class="card-text"><%= list.description %></p>  -->
                    <p class="card-text">&#x20B9; <%= list.price.toLocaleString("en-IN") %> &nbsp;&nbsp;<i class="gst-taxes">+18% gst</i> </p>
                        
                </div>
                </a>
              </div>
            <!-- <a href="/listings/<%= list.id %>"  class="listing-link"> -->
                
            </a>            
        <% } %>
       
    </div>
     
    
    <!-- <ul>
        <% for(list of allListings){ %>
            <li><a method="get" href="/listings/<%= list.id %>"> <%= list.title %> </a></li>

        <% } %>
    </ul>     -->

</body>

<script>
    let taxSwitch = document.getElementById("switchCheckChecked");
    taxSwitch.addEventListener("click", ()=>{
        // console.log("clicked");
        let getTaxs = document.getElementsByClassName("gst-taxes");
        for(tax of getTaxs){
            if(tax.style.display != "none"){
                tax.style.display = "none";
            }
            else{
                tax.style.display = "inline";
            }
        }
    });
</script>